<style>
    .my-drop-zone { border: dotted 3px lightgray; }
    .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
    .another-file-over-class { border: dotted 3px green; }
    html, body { height: 100%; }
</style> 


<div class="row">
	<div class="row col-md-6">

	    <div class="col-md-12">
	    	<fieldset>

		        <legend>Select files</legend>

		        <div ng-show="uploader.isHTML5">
		            <!-- 3. nv-file-over uploader="link" over-class="className" -->
		            <div class="well my-drop-zone" nv-file-over="" uploader="uploader" style="height: 200px; position: relative;">
		                <span style="position: absolute;font-size: 22px;top: 70px;margin-left: 31%;">Drop file</span>
		            </div>
		        </div>
	        </fieldset>
	    </div>    
	</div>

	<div class="row col-md-6">
		<div class="row col-md-12">
			<div class="col-md-12">
				<form class="form-horizontal" ng-submit="search()">
					<fieldset>

					<!-- Form Name -->
					<legend>Protein Structural Settings</legend>

					<!-- Text input-->
					<div class="form-group">
					  <label class="col-md-4 control-label" for="textinput">Chain</label>  
					  <div class="col-md-8">
					  <input id="textinput" name="textinput" type="text" placeholder="Chain" class="form-control input-md" ng-model="searchQuery" maxlength="1">
					  <span class="help-block"></span>  
					  </div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label" for="textinput">Segments</label> 
						<div class="col-md-8">			
					    	<textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Segments"></textarea>
					    	<span class="help-block">Array of array ej: 1,2 4,5</span>  
					    </div>
					 </div>

					 <div class="form-group">
					  <label class="col-md-4 control-label" for="textinput">Distance Cut-off</label>  
					  <div class="col-md-8">
					  <input id="textinput" name="textinput" type="text" placeholder="Distance Cut-off" class="form-control input-md" ng-model="searchQuery" maxlength="1">
					  <span class="help-block"></span>  
					  </div>
					</div>


					</fieldset>
				</form>
			</div>
		</div>
	</div>


	
</div>

<div class="row">
	<div class="col-md-12" style="margin-bottom: 40px">
		<fieldset>
	        

	        <table class="table">
	            <thead>
	                <tr>
	                    <th width="50%">Name</th>
	                    <th ng-show="uploader.isHTML5">Size</th>
	                    <th ng-show="uploader.isHTML5">Progress</th>
	                    <th>Status</th>
	                    <th>Actions</th>
	                </tr>
	            </thead>
	            <tbody>
	                <tr ng-repeat="item in uploader.queue">
	                    <td><strong>{{ item.file.name }}</strong></td>
	                    <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
	                    <td ng-show="uploader.isHTML5">
	                        <div class="progress" style="margin-bottom: 0;">
	                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
	                        </div>
	                    </td>
	                    <td class="text-center">
	                        <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
	                        <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
	                        <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
	                    </td>
	                    <td nowrap>
	                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
	                            <span class="glyphicon glyphicon-upload"></span> Upload
	                        </button>
	                        <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
	                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
	                        </button>
	                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
	                            <span class="glyphicon glyphicon-trash"></span> Remove
	                        </button>
	                    </td>
	                </tr>
	            </tbody>
	        </table>

	        <div>
	            <div>
	                Queue progress:
	                <div class="progress" style="">
	                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
	                </div>
	            </div>
	            <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
	                <span class="glyphicon glyphicon-upload"></span> Upload
	            </button>
	        </div>

        </fieldset>

    </div>
</div>
